@import "~font-awesome/scss/font-awesome.scss";
@import "mixins.scss";

/**
 * Override Bootstrap styles that you can't modify via variables here.
 *
 */

.navbar-brand {
  position: relative;
  padding-left: 50px;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #33e0ff;
  background-color: transparent;
}

// Bootstrap overrides for this template
.text-primary {
  color: $primary !important;
}

.btn {
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 300px;
  //@include sans-serif-font;
}

.btn-xl {
  padding: 1rem 2rem;
}

.btn-primary {
  background-color: $primary;
  border-color: $primary;
  &:hover,
  &:focus,
  &:active {
    color: $white;
    background-color: darken($primary, 5%) !important;
  }
  &:active,
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(240, 95, 64,.5) !important;
  }
}

// Global styling for this template
body,
html {
  width: 100%;
  height: 100%;
}

body {
  @include serif-font;
}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: $primary;
}

hr.light {
  border-color: $white;
}

a {
  color: $primary;
  @include transition-all;
  &:hover {
    color: darken($primary, .1);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include sans-serif-font;
}

.bg-primary {
  background-color: $primary !important;
}

.bg-dark {
  background-color: $gray-900 !important;
}

.text-faded {
  color: fade-out($white, .3);
}

section {
  padding: 8rem 0;
}

.section-heading {
  margin-top: 0;
}

::-moz-selection {
  color: $white;
  background: $gray-900;
  text-shadow: none;
}

::selection {
  color: $white;
  background: $gray-900;
  text-shadow: none;
}

img::selection {
  color: $white;
  background: transparent;
}

img::-moz-selection {
  color: $white;
  background: transparent;
}

body {
  -webkit-tap-highlight-color: $gray-900;
}
