@import '../../theme/variables.scss';

.jarsWrapper {
  padding-top: 2rem;
}

.jar {
  display: block;
  width: 300px;
  border-radius: 300px;
  height: 60px;
  margin: 1rem auto 0;
  border: 0;
  font-size: 1.5rem;
  background-color: $green-finance;
  color: white;
  text-indent: 50px;
  text-align: left;
  transition: 0s 0.15s;

  & > i {
    padding-right: 0.5rem;
  }

  &:focus {
    outline: none;
  }
  
  &:active {
    background-color: $green-finance-bold;
    transition: 0s;
  }
}

.loggedInSection {
  padding: 1rem 0;
}