.app {
  .brand {
    position: absolute;
    $size: 40px;
    top: 5px;
    left: 5px;
    display: inline-block;
    background: #2d2d2d url('../Home/logo.png') no-repeat center center;
    width: $size;
    height: $size;
    background-size: 80%;
    margin: 0 10px 0 0;
    border-radius: $size / 2;
  }
  nav :global(.fa) {
    line-height: 20px;
  }
}

.appContent {
  padding-top: 50px;
  position: relative;
}

.notifs {
  margin: 0;
}

.footer {
  margin-bottom: 0;
}

:global(.form-control-feedback) {
  text-align: inherit;
}